<div class="axovideo">
    <iframe class="video" width="853" height="480" src="https://www.youtube.com/embed/A1eMh6tI6uo" frameborder="0" allowfullscreen></iframe> 
</div>

<div id="wrapper">
<div id="content">

  <p>Healthy Relationships Week is a national campaign held by Alpha Chi Omega. This website it brought to you by the sisters of the Carnegie Mellon University chapter. </p>

  <div class="photos">
  	<ul class="large-block-grid-3">
  		<% data.people.each do |item| %>
  			<li> <%= image_tag item.url %></li>
  		<% end %>
  	</ul>
  </div>

</div>
</div>