---
title: Who We Are
---


<div id="wrapper">
<div id="content"  style="padding: 0 15%;">

 <span id="title">
		Who We Are:</span>

<div style="display:block;">


<p ><div style="background: #987DB0;
padding: 20px;"><img  src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/10482017_829164973784571_732485644571784582_o.jpg"></div></p>
<p >
We are the women of the Kappa Nu chapter of Alpha Chi Omega at Carnegie Mellon University. We are Computer Scientists, Mathematicians, Dramaturgs, Historians, Creative Writers, Engineers, Artists, Physicists, Architects, Biologists, Statiticians, Writers, Singers, Business Women, Philosophers, Chemists and more. </p>
<p >
We strive to make a difference on our campus by empowering women and promoting domestic violence awareness.</p>
<p >
Visit our chapter website at <a href="http://www.cmualphachiomega.com">cmualphachiomega.com</a> and our facebook page at <a href="https://www.facebook.com/CMUAXO?ref=br_tf">CMU Alpha Chi Omega</a>.</p>
<span id="category">What Other Chapters Are Doing:</span> 

</div>
</div>
</div>
